/* Приховати веб-кнопку кошика у мобільній версії */
#hero-text{
    order: -1;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
  }
  
  /* Показываем затемняющий блок */
  .overlay.active {
    display: block;
  }
  
  /* Кнопка закрытия */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
  }
.products-burger {
    display: none;
    width: 34px;
    height: 23px;
    position: absolute;
}

.burger-side {
    height: 3px;
    width: 100%;
    background-color: rgb(49, 47, 47);
    transition: all .3s;
}

.burger-side::before,
.burger-side::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: rgb(49, 47, 47);
    transition: all .3s;
    position: absolute;
    left: 0;
}

.burger-side::before {
    top: 0;
}

.burger-side:after {
    bottom: 0;
}
/*  burger  */
.burger-wrap {
    display: none;
    width: 34px;
    height: 23px;
    position: relative;
}

.burger {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
}

.burger::before,
.burger::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    position: absolute;
    left: 0;
}

.burger::before {
    top: 0;
}

.burger:after {
    bottom: 0;
}
ul{
    padding: 0;
}
.burger-wrap {
    display: none;
    width: 34px;
    height: 23px;
    position: relative;
}

.burger {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
}

.burger::before,
.burger::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: rgb(255, 255, 255);
    transition: all .3s;
    position: absolute;
    left: 0;
}

.burger::before {
    top: 0;
}

.burger:after {
    bottom: 0;
}
@media (max-width: 767px) {
    .web-cart {
        display: none;
    }
}

/* Стиль для мобільної корзинки */
.mobile-cart {
    display: none;
    /* Сховано за замовчуванням */
}

/* Стиль для мобільної версії */
@media (max-width: 767px) {
    .mobile-cart {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        right: 50px;
        /* Зміщення трохи лівіше */
        z-index: 1000;
        background-color: #82ae46;
        /* Салатовий колір */
        border-radius: 50%;
        padding: 5px;
        /* Зменшена відстань */
    }

    .mobile-cart .buy-now {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        /* Зменшений розмір кнопки */
        height: 35px;
        /* Зменшений розмір кнопки */
        border-radius: 50%;
        background-color: #82ae46;
        /* Салатовий колір */
        color: white;
    }

    .mobile-cart .buy-now i {
        font-size: 20px;
        /* Зменшений розмір іконки */
    }
}

.about-us{
    &-wrap{
        display: flex;
        flex-flow: row wrap;
    }
    &-text{
        flex: 1 0;
        padding-right: 30px;
        &__title{
            font-weight: 700;
            font-size: 24px;
        }
    }
    &-img{
        flex: 0 0 400px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &-trigers{
        padding: 20px 0 0 0;
        display: flex;
        flex-flow: row wrap;
        &__item{
            flex: 0 0 50%;
            margin-bottom: 30px;
        }
        &__title{
            font-weight: 700;
            padding: 6px 0 12px 0;
        }
    }
    
}

@media (min-width: 768px) {
    .about-us{
        .container{
            max-width: 90%;
        }
    }
    .about-us-img {
        flex: 0 0 303px;
        height: fit-content;
    }
}
@media (max-width: 768px) {
    .about-us-wrap{
        flex-flow: column wrap;
    }
    .about-us-img{
        order: -1;
        margin: 0 auto;
        flex: 0 0 240px;
        max-width: 260px;
    }
    .about-us-text{
        text-align: center;
    }
}
@media (max-width: 768px) {
    .about-us-img{
        max-width: 190px;
    }
    .about-us-text{
        padding: 20px 0 0 0;
    }
}

.header__navigation{
    a{
        font-size: 18px;
        font-weight: 700;
        color: #222121;
        margin-right: 40px;
        &:hover{
            color: #82ae46;
        }
        &:last-child{
            margin: 0;
        }
    }
}
@media (max-width: 991.98px) {
    .header__navigation{
        a{
            color: #fff;
        }
    }
    .header__navigation {
        position: relative;
        display: block;
        max-height: unset;
        width: unset;
        opacity: 1;
        border: none;
        margin: unset;
    }

    .burger-wrap {
        display: flex;
                align-items: center;
                position: absolute;
                z-index: 3;
                left: 50%;
                transform: translate(-300%, -50%);
                top: 50%;
    }

    .burger--close {
        max-width: 0;
        overflow: hidden;
    }

    .burger--close::before {
        transform: translateY(-1px) rotate(45deg);
    }

    .burger--close::after {
        transform: translateY(3px) rotate(-45deg);
    }

    .burger--close::after,
    .burger--close::before {
        transform-origin: 0;
    }

    .header__navigation{
        position: absolute;
        top: 77px;
        width: 100%;
        left: 0;
        background: #000000;
        z-index: 3;
        padding: 0;
        opacity: 0;
        display: flex;
        max-height: 0;
        overflow: hidden;
        transition: all .3s;
        border-bottom: 1px solid black;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .header__navigation{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }



    .header__navigation a {
        display: block;
        padding: 10px 0;
        border: none;
        text-align: center;
        color: block;
        margin: 0;
    }

    .header__navigation--open {
        max-height: 500px;
        opacity: 1;
        padding: 15px 0;
    }
}

@media (max-width: 576px) {
    .burger-wrap {
        transform: translate(-339%, -50%);
    }
}
@media (max-width: 479px) {
.navbar .container{
    display: flex;
    flex-flow: column wrap;
}
.social-links {
    display: flex
;
    justify-content: end;
    width: 100%;
    align-items: end;
    .ml-auto{
        margin: unset !important;
    }
}
.burger-wrap {
    transform: unset;
    top: unset;
    left: 15px;
    bottom: 10px;
    height: 20px;
    width: 30px;
}
.navbar-brand{
    margin: 0;
    font-size: 15px;
    padding: 0 0 5px;
}
.bg-primary{
    display: none;
}
.ftco-navbar-light.scrolled .nav-link {
    padding-top: unset !important;
    padding-bottom: unset !important;
    color: #000000 !important;
}
}
.ftco-navbar-light.scrolled{
    .burger{
        background-color: #000;
    }
    .burger::before, .burger::after {
        background-color: #000;
    }
} 

.products{
    &-wrapper{
        display: flex;
        flex-flow: row wrap;
        padding: 30px 10px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    &-sidebar{
        flex: 0 0 276px;
        max-width: 276px;
        box-shadow: 0px 0px 5px 0px #00000078;
        background: #fff;
        border-radius: 12px;
        
        &__content{
            padding: 15px;
        }
        &__title{
            color: #82ae46;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
        }
        &__item{
            margin-bottom: 20px;
            box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 22%);
            background: #fff;
            border-radius: 6px;
            padding: 10px;
        }
    }
    &-main{
        flex: 1 0;
        padding-left: 30px;
    }
}


.accordion-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.accordion {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.accordion.active {
    background-color: #ccc;
}

.accordion {
    &-item{
        margin-bottom: 5px;
    }
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    p{
        margin: 0;
    }
}

.panel.show {
    max-height: 1000px; /* Початкове велике значення, яке буде замінено динамічно */
    opacity: 1;
}

.arrow {
    transition: transform 0.3s;
}

.accordion.active .arrow {
    transform: rotate(90deg);
}

.price-filter {

}

.price-filter h2 {
    text-align: center;
    font: 1em sans-serif;
    font-size: 20px;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price-inputs input {
    width: 48%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.range-container {
    width: 100%;
    position: relative;
    margin-top: 15px;
}

.range-slider {
    width: 100%;
    height: 10px;
    background-color: #ddddddfa;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    appearance: none;
}

.range-slider::-webkit-slider-thumb,
.range-slider::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

/* Лінія між двома точками */
.slider-range {
    position: absolute;
    height: 10px;
    background: #4CAF50;
    top: 0;
    border-radius: 5px;
    opacity: 0;
}


.checkbox-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Стиль для реального чекбоксу (буде прихований) */
.checkbox-item input[type="checkbox"] {
    display: none;
}

/* Стиль для кастомного чекбоксу */
.checkbox-item label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
    user-select: none;
}

/* Кастомний чекбокс */
.checkbox-item label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #82ae46;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Стиль чекбоксу при активному стані */
.checkbox-item input[type="checkbox"]:checked + label::before {
    background-color: #82ae46;
    border-color: #82ae46;
}

/* Підкріплення галочки */
.checkbox-item input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 5px;
    background: white;
    width: 9px;
    border-radius: 2px;
    height: 9px;
    border-width: 0 2px 2px 0;
}

/* Стиль для тексту */
.checkbox-item label {
    font-size: 18px;
    color: #333;
}


.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.menu-item:hover {
    background-color: #f7f7f7
}

.submenu {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    display: none; /* Закрито за замовчуванням */
}

.submenu li {
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid #555;
    transition: all .3s;
}

.submenu li:hover {
    background-color: #f7f7f7
}

.toggle-arrow {
    float: right;
    transition: transform 0.3s ease;
}

.open .toggle-arrow {
    transform: rotate(180deg); /* Повертає стрілку */
}

.menu-item.active .submenu {
    display: block; /* Відкриває підменю */
}

@media (max-width: 1199px) {
    .products-sidebar {
        flex: 0 0 210px;
        max-width: 210px;
        height: fit-content;
    }
    .products-sidebar__content {
        padding: 10px;
    }
    .menu-item {
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 600;
    }
    .accordion .arrow svg{
        width: 20px;
        height: 20px;
    }
    .accordion {
        font-size: 14px;
        font-weight: 600;
    }
    .panel {
        padding: 0 8px;
        font-size: 14px;
    }
    .price-filter h2 {
        font-size: 16px;
        font-weight: 600;
    }
}
@media (max-width: 767px) {
    .products-sidebar{
        opacity: 0;
        position: absolute;
        width: 0;
        transition: all .3s;
        z-index: -3;
        &--open{
        opacity: 1;
        width: 100%;
        z-index: 1001;
        position: fixed;
        top: 0;
        height: 100vh;
        overflow-y: scroll;
        padding: 10px;
        }
    }
    .product-category{
        display: flex;
        justify-content: end;
    }
    .products-main{
        padding: 0;
    }
    .products-burger {
        display: flex;
        align-items: center;
        z-index: 3;
    }
    .burger-side::before, .burger-side::after {
        width: 85%;
    }
}

@media (max-width: 479px) {
    .product-category{
        display: none;
    }
    .products-wrapper {
        padding: 40px 10px 30px 10px;
        position: relative;
    }
    .products-burger{
        top: 8px;
    }
}