/* Приховати веб-кнопку кошика у мобільній версії */
@media (max-width: 767px) {
    .web-cart {
        display: none;
    }
}

/* Стиль для мобільної корзинки */
.mobile-cart {
    display: none;
    /* Сховано за замовчуванням */
}

/* Стиль для мобільної версії */
@media (max-width: 767px) {
    .mobile-cart {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        right: 50px;
        /* Зміщення трохи лівіше */
        z-index: 1000;
        background-color: #82ae46;
        /* Салатовий колір */
        border-radius: 50%;
        padding: 5px;
        /* Зменшена відстань */
    }

    .mobile-cart .buy-now {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        /* Зменшений розмір кнопки */
        height: 35px;
        /* Зменшений розмір кнопки */
        border-radius: 50%;
        background-color: #82ae46;
        /* Салатовий колір */
        color: white;
    }

    .mobile-cart .buy-now i {
        font-size: 20px;
        /* Зменшений розмір іконки */
    }
}